{% extends "base/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

	<div class="ui grid login-form">

		<div class="three wide column"></div>
		<div class="ten wide column">
			
			<form class="ui form" action="{{action}}" method="post">

				<div class="two required fields">

					<div class="required field">
						<label>First Name</label>
						<input type="text" name="firstname">
					</div>

					<div class="required field">
						<label>Last Name</label>
						<input type="text" name="lastname">
					</div>
					
				</div>

				<div class="two required fields">
					
					<div class="required field">
						<label>Email</label>
						<input type="text" name="email">
					</div>

					<div class="required field">
						<label>Password</label>
						<input type="password" name="password">
					</div>
				</div>

				<div class="field">
					{% csrf_token %}
					<input type="submit" class="ui tiny uppercase positive action submit button" value="Register">
				</div>
			</form>

		</div>
		<div class="three wide column"></div>
		
	</div>
	

{% endblock %}